/*
  Custom section stylesheet

  This file contains presentation styles for the Custom section.
  Keep reusable block styles in their respective block stylesheets.
*/


/*
  Custom section
*/
.custom-section {
  color: rgb(var(--color-text));
  text-align: var(--mobile-text-alignment);
  background-color: rgb(var(--color-background));
}

@media (min-width: 1200px) {
  .custom-section {
    text-align: var(--desktop-text-alignment);
  }
}
